
.container {
    position: relative;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-vector/kids-playground-sunny-weather-children-area_107791-11059.jpg?w=1380&t=st=1672471546~exp=1672472146~hmac=5dff9274e9cea8e57d873761660796629ae44c803f5829310838146ce7cf50e7');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  p{
    position: relative;
    font-size: 20px;
  }
  
.box {
    position: absolute;
    animation: animateDiv 3s 2;
    animation-direction:normal;
    animation-iteration-count: infinite;
  }

@keyframes animateDiv {
    0%   {bottom: 0px; top: 100vh;}
    100%  {bottom: 100vh; top:0px;}
}